<% provide :title, t(".title") %>
<%= render "layouts/slideshow" %>
<div class="container-tour">
  <div class="container pb-4">
    <div class="tour-hot-container">
      <div class="title-tour-hot">
        <h3 class="hottour"><%= t(".new_tour") %></h3>
      </div>
      <%= link_to t(".view_all"), index_path, class: "float-right btn btn-link" %>
    </div>
    <%= render "new_tour" %>
  </div>
</div>

