<% provide :title, t(".login") %>
<% provide :button_text, t(".login") %>
<div class="bg-login">
  <div class="container-login">
    <h4><%= t ".login" %></h4>
      <%= render "form" %>
  </div>
</div>

