<% provide :title, t(".signup") %>
<% provide :button_text, t(".create") %>
<div class="bg-login">
  <div class="container-login">
    <h4><%= t ".signup" %></h4>
    <%= render "form" %>
  </div>
</div>
