<div class="col-md-3 order-md-first order-first">
  <div class="card card-tour mb-4">
    <div class="card-header title-search-tours">
      <h5><%= t(".locations") %></h5>
    </div>
    <div class="list-group list-group-flush">
      <% @travel_end.each do |t| %>
      <%= link_to "#{t.name_end}: #{t.count} tour", index_path(name_end: t.name_end), class: "list-group-item list-group-item-action list-location"%>
      <% end %>
    </div>
  </div>
</div>
